body {
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2013/11/30/181017/big_thumb_7c5d8fdc1a775b8b550761bc82a46d4f.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

h1, h2 {
  color: white;
  text-align: center;

}


#gameboard {
  width: 700px;
  height: 575px;
  margin: 0 auto;
  background-color: #transparent;
}
.column {
  width: 100px;
  float: left;
  background: transparent;
}
.cell {
  width: 90px;
  height: 90px;
  margin: 5px auto;
  border-radius: 50px;
  opacity: 0.4;
}
.grey {
  background-color: grey;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
